/**
 * @file
 *
 * Styles for the header region.
 */

header {
  @include span-columns(12);
  @include box-shadow;
  background-color: $element-background-color;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;

  @include media ($wide) {
    border-top: 7px solid $heading-color;
    min-height: $navigation-height;
  }

  // Bourbon's navigation refill -----------------------------------------------

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .home-link--back-arrow {
    float: left;
    line-height: 38px;
    padding-left: 8px;

    &:hover,
    &:focus {
      color: $link-hover;
    }

  }

  // Mobile view.

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    margin: 0;
    padding: .5em;
    text-transform: uppercase;

    @include media ($wide) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu.

  nav {
    float: none;
    z-index: 9999999;

    @include media ($wide) {
      float: right;
      min-height: $navigation-height;

    }
  }

  ul {
    -webkit-transform-style: preserve-3d; // Stop webkit flicker.
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($wide) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items.

  ul li {
    background: $navigation-background;
    display: block;
    font-family: $heading-font;
    line-height: 2em;
    overflow: hidden;
    padding-right: $navigation-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($wide) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
  // Need to match specificity of system CSS file to override it.
  ul.menu a.is-active {
    color: $navigation-active-link-color;
    font-weight: bold;
  }

// Home link styles. -----------------------------------------------------------

  .home-link {
    display: inline-block;
    float: left;

    .home-link--heading {
      display: none;

      @include media($wide) {
        display: block;
        line-height: $navigation-height;
        margin: 0;
        padding-left: $navigation-padding;
      }
    }

    .home-link--back-arrow {
      display: block;
      padding-left: .5em;

      @include media($wide) {
        display: none;
      }
    }
  }
}

// Hide back arrow on front page.
.path-frontpage header .home-link .home-link--back-arrow {
  display: none;
}
