body {
  @include outer-container;
  font-family: $copytext-font;
}

a {
  color: $link-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  text-decoration: none;
}