// Colors
$background-color: #FFFFF9;             // Eggshell
$heading-color: #5F1251;                // Purple. Consider darkening.
$link-color: #709130;                   // Green
$link-hover: lighten($link-color, 25%); // Lighter green
$copytext-color: #5C5240;               // Brown

// Fonts
$heading-font: unquote('Noto Serif, Georgia, serif');
$copytext-font: unquote('Open Sans, Arial, sans-serif');

// Navigation refill variables
$navigation-background: $background-color;
$navigation-color: $link-color;
$navigation-color-hover: $link-hover;
$navigation-height: 73px;
$navigation-active-link-color: $link-color;
$horizontal-bar-mode: $wide;
$navigation-padding: 1em;