.path-node {

  main {
    @include span-columns(8);
    @include shift(2);
    @include clearfix;
    margin-top: $navigation-height;

    .node-title-box {
      @include span-columns(4 of 8);
      @include shift(2 of 8);
      background-color: $element-background-color;
      border-radius: $border-radius;
      margin-bottom: $general-spacing;
      margin-top: $general-spacing;
      text-align: center;

      h2 {
        color: $copytext-color;
      }

      .field-node--address-text {
        padding-bottom: 1.5em;
      }
    }

    .field-node--photos {
      @include span-columns(3 of 8);
      @include shift(1 of 8);
    }

    .field-node--body {
      @include span-columns(3 of 8);
    }
  }
}
