/* line 2, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-control {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 8, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-control .button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../js/leaflet-fusesearch/images/search.png);
  display: block;
  width: 36px;
  height: 36px;
}

/* line 16, ../sass/leaflet.fusesearch.scss */
.leaflet-touch .leaflet-fusesearch-control .button {
  width: 44px;
  height: 44px;
}

/* line 21, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel {
  position: absolute;
  height: 100%;
  width: 350px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

/* line 39, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel .content {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  background: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: black;
  font-size: 1.1em;
}

/* line 60, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel.left {
  left: 0;
}

/* line 64, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel.right {
  right: 0;
}

/* line 68, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel.visible {
  opacity: 1;
  z-index: 2000;
}

/* line 74, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel .close {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 30px;
  height: 30px;
  color: #333;
  font-size: 25pt;
  line-height: 1em;
  text-align: center;
  background: white;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 8;
}

/* line 91, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel .search-image {
  background-repeat: no-repeat;
  background-image: url(../js/leaflet-fusesearch/images/search_input.png);
  background-size: 20px 20px;
  background-position: 1px 1px;
  display: inline-block;
  position: relative;
  top: 4px;
  width: 22px;
  height: 22px;
}

/* line 103, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel .search-input {
  position: relative;
  top: 6px;
  left: 3px;
}

/* line 109, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel .result-item {
  color: black;
}

/* line 113, ../sass/leaflet.fusesearch.scss */
.leaflet-fusesearch-panel .result-item.clickable {
  cursor: pointer;
}

@media (max-width: 320px) {
  /* line 118, ../sass/leaflet.fusesearch.scss */
  .leaflet-fusesearch-panel {
    width: 100%;
    padding: 0;
  }

  /* line 122, ../sass/leaflet.fusesearch.scss */
  .leaflet-fusesearch-panel .content {
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  /* line 130, ../sass/leaflet.fusesearch.scss */
  .leaflet-fusesearch-panel {
    width: 250px;
    padding: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 137, ../sass/leaflet.fusesearch.scss */
  .leaflet-fusesearch-panel {
    width: 300px;
  }
}
@media (min-width: 769px) {
  /* line 143, ../sass/leaflet.fusesearch.scss */
  .leaflet-fusesearch-panel {
    width: 350px;
  }
}
