/**
 * @file
 *
 * Map theming.
 */
/* Import Leaflet CSS. */
/* required styles */
/* line 3, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 21, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 25, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 33, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 38, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 42, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 45, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 49, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 52, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 57, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 61, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 62, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 63, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 64, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 65, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 66, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 68, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 72, ../sass/lib/leaflet/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 81, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 86, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 92, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 95, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 98, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 101, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 104, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 108, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 111, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 114, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 117, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 120, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 127, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 135, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 140, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 146, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 155, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 162, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 165, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 169, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 173, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 183, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 187, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 190, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 193, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 200, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 207, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 211, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 223, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 229, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 232, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 236, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 241, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 247, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 256, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 261, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 265, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 268, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 275, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 280, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 285, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 289, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 293, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 297, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 301, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 306, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 311, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 314, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 323, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 328, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 333, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 336, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 339, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 343, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 346, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 349, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 363, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 368, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 372, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 377, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 386, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 390, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 395, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 399, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 402, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 409, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 422, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 428, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 442, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 445, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 451, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 454, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 461, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 465, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 475, ../sass/lib/leaflet/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* Import custom variables. */
/**
 * @file
 *
 * Custom variables, mixins, and functions.
 */
/* Import custom map styles. */
/**
 * @file
 *
 * Override leaflet.css.
 * Note: Bourbon and Neat are not included here and cannot be used.
 */
/* line 9, ../sass/components/_map-overrides.scss */
.leaflet-popup-content-wrapper {
  background-color: #FFFFF9;
  border: solid 2px #5F1251;
  border-radius: 8px;
}

/* line 15, ../sass/components/_map-overrides.scss */
.leaflet-popup-tip-container {
  overflow: visible;
}

/* line 19, ../sass/components/_map-overrides.scss */
.leaflet-popup-tip {
  border-bottom: solid 2px #5F1251;
  border-right: solid 2px #5F1251;
  box-shadow: none;
  margin-top: -9px;
}

/* line 27, ../sass/components/_map-overrides.scss */
.leaflet-popup a {
  color: #709130;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
}

/* line 35, ../sass/components/_map-overrides.scss */
.leaflet-bar {
  background-color: #FFFFF9;
  border-radius: 2px;
}
/* line 39, ../sass/components/_map-overrides.scss */
.leaflet-bar a {
  background-color: #FFFFF9;
  color: #709130;
}
/* line 42, ../sass/components/_map-overrides.scss */
.leaflet-bar a:hover, .leaflet-bar a:focus {
  color: #afd071;
}

/* line 49, ../sass/components/_map-overrides.scss */
.leaflet-control-zoom-in {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 54, ../sass/components/_map-overrides.scss */
.leaflet-control-zoom-out {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

@media only screen and (max-width: 851px) {
  /* line 61, ../sass/components/_map-overrides.scss */
  .path-frontpage .leaflet-bottom {
    bottom: 15vh;
  }
}
/* line 67, ../sass/components/_map-overrides.scss */
.leaflet-top .leaflet-fusesearch-control {
  background-color: #FFFFF9;
  margin-top: 50px;
}
@media only screen and (min-width: 851px) {
  /* line 67, ../sass/components/_map-overrides.scss */
  .leaflet-top .leaflet-fusesearch-control {
    margin-top: 100px;
  }
}
/* line 75, ../sass/components/_map-overrides.scss */
.leaflet-top .leaflet-fusesearch-control .button {
  height: 40px;
  width: 40px;
}

/* line 83, ../sass/components/_map-overrides.scss */
.leaflet-container a {
  color: #709130;
}
/* line 87, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel {
  cursor: auto;
  margin-top: 50px;
  padding-top: 10px;
}
@media only screen and (min-width: 851px) {
  /* line 87, ../sass/components/_map-overrides.scss */
  .leaflet-container .leaflet-fusesearch-panel {
    margin-top: 100px;
  }
}
/* line 96, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .content {
  background-color: #FFFFF9;
}
/* line 100, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .search-image {
  display: none;
}
/* line 104, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .close {
  background: #FFFFF9;
  color: #5C5240;
  right: 15px;
}
/* line 110, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .result-list {
  margin-top: 2em;
}
/* line 114, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .result-item {
  border-bottom: 1px solid #5C5240;
  padding-bottom: 1em;
}
/* line 118, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .result-item:last-child {
  border-bottom: none;
}
/* line 123, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .result-item b {
  color: #5F1251;
}
/* line 128, ../sass/components/_map-overrides.scss */
.leaflet-container .leaflet-fusesearch-panel .result-item p span,
.leaflet-container .leaflet-fusesearch-panel .result-item p {
  display: none;
}
