/**
 * @file
 *
 * Override leaflet.css.
 * Note: Bourbon and Neat are not included here and cannot be used.
 */

// Map markers.
.leaflet-popup-content-wrapper {
  background-color: $element-background-color;
  border: solid 2px $heading-color;
  border-radius: $border-radius;
}

.leaflet-popup-tip-container {
  overflow: visible;
}

.leaflet-popup-tip {
  border-bottom: solid 2px $heading-color;
  border-right: solid 2px $heading-color;
  box-shadow: none;
  margin-top: -9px;
}

.leaflet-popup {
  a {
    color: $link-color;
    font-family: $copytext-font;
    font-size: 14px;
  }
}

// Zoom controls.
.leaflet-bar {
  background-color: $element-background-color;
  border-radius: 2px;

  a {
    background-color: $element-background-color;
    color: $link-color;
    &:hover,
    &:focus {
      color: $link-hover;
    }
  }
}

.leaflet-control-zoom-in {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.leaflet-control-zoom-out {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

// On mobile, move zoom controls up so sidebar content doesn't cover it.
@media only screen and (max-width: 851px) {
  .path-frontpage .leaflet-bottom {
    bottom: 15vh;
  }
}

// Search bar.
.leaflet-top .leaflet-fusesearch-control {
  background-color: $element-background-color;
  margin-top: 50px;

  @media only screen and (min-width: 851px) {
    margin-top: 100px;
  }

  .button {
    height: 40px;
    width: 40px;
  }
}

// Style search results.
.leaflet-container {
  a {
    color: $link-color;
  }

  .leaflet-fusesearch-panel {
    cursor: auto;
    margin-top: 50px;
    padding-top: 10px;

    @media only screen and (min-width: 851px) {
      margin-top: 100px;
    }

    .content {
      background-color: $element-background-color;
    }

    .search-image {
      display: none;
    }

    .close {
      background: $element-background-color;
      color: $copytext-color;
      right: 15px;
    }

    .result-list {
      margin-top: 2em;
    }

    .result-item {
      border-bottom: 1px solid $copytext-color;

      &:last-child {
        border-bottom: none;
      }

      // Change color of place title.
      b {
        color: $heading-color;
      }

      // Hide description from search results.
      p span,
      p {
        display: none;
      }
    }
  }
}
