/**
 * @file
 *
 * Theme styles for node pages.
 */

.path-node {

  // For all nodes pages.

  // For Place nodes.
  .node--type-place {
    .node-title-box h2 {
      padding-bottom: 0;
    }

    .post_author {
      margin-bottom: .5em;
      text-align: center;

      @include media($x-wide) {
        text-align: left;
      }

      h3, .field, .field-items, .field-item {
        display: inline;
      }
    }
  }

  // For Basic Page nodes (e.g. About).
  .node--type-page {

    p {
      clear: both;
    }

    img {
      @include box-shadow;
      margin: 3em auto;
      // Maintain aspect ratio.
      height: 100%;
      width: 100%;
      max-width: 360px;
    }
  }
}


