/**
 * @file
 *
 * Site-wide layout styles.
 */

html,
body {
  // For sticky footer.
  height: 100%;
}

body {
  @include outer-container();

  main {
    @include span-columns(10);
    @include shift(1);
    @include clearfix;

    // Account for absolutely positioned menu (result of the front page map).
    .region-content {
      margin-top: $general-spacing * 1.8;

      @include media ($wide) {
        margin-top: em($navigation-height) + $general-spacing;
      }
    }
  }
}