/**
 * @file
 *
 * Front page layout.
 *
 * On small screens, map takes up 85% of viewport height (vh) and sidebar
 * is below. On larger screens, everything is on top of map with 100% width
 * and height.
 */

body.path-frontpage {

  .map--front {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    @include media($wide) {
      height: 100%;
    }
  }

  .sidebar {
    @include span-columns(12);
    left: 0;
    position: absolute;
    top: 85vh;
    z-index: 1;

    @include media($wide) {
      @include span-columns(3.5);
      @include shift(.5);
      height: 80%;
      top: 15%;
    }

  }
}