/**
 * @file
 *
 * Theme styles for basic pages.
 */

// Styles for all pages.
.page-title-box h1 {
  font-size: 1em;
  margin: 0;
}

// Styles for user page (login, recover password, etc).
.path-user {
  .tabs {

    .is-active a {
      background-color: $element-background-color;
      font-weight: bold;
    }

    a:hover,
    a:focus {
      background-color: $element-background-color;
    }
  }
}

// Styles for search results.
.path-search {
  .search-results li {
    border-bottom: 1px solid $element-background-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

// Styles for "Explore all points" and taxonomy pages.
.path-places,
.path-taxonomy {
  .block-page-title-block {
    text-align: center;

    @include media($narrow) {
      text-align: left;
    }
  }

  .views-row {
    border-bottom: 1px solid $element-background-color;
    padding: 1.5em;

    &:last-child {
      border-bottom: none;
    }
  }

  .views-field-title {
    font-family: $heading-font;
    font-size: 1.2em;
    margin-bottom: .75em;
    text-align: center;

    @include media($wide) {
      font-size: 1.5em;
      text-align: left;
    }
  }

  .views-field-field-photos {
    margin: 1.5em 0;

    @include media($wide) {
      float: left;
      margin: 0 1em 0;
    }

    @media screen and (min-width: 950px) {
      display: inline-block;
      margin: 0;
      width: 20%;
    }

    img {
      @include box-shadow;
      display: block;
      height: auto;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .views-field-body {
    @media screen and (min-width: 950px) {
      display: inline-block;
      vertical-align: top;
      width: 80%;

      .field-content {
        margin-left: 1em;

        p {
          margin-top: 0;
        }
      }
    }
  }

  // "Read more" link.
  .views-field-view-node {
    clear: both;
    margin-bottom: 1.5em;

    a {
      display: inline-block;
      float: right;
    }
  }
}

// Search section on /places.
.path-places {
  .view-full-list {

    // Views filter.
    .views-exposed-form {
      margin-bottom: 1em;

      // Filter items.
      .form-item {
        margin-bottom: .5em;

        @include media($search-form-break) {
          line-height: 1.875em;
          margin-bottom: 1em;
        }
      }

      // "Apply" button.
      .form-actions {
        @include media($search-form-break) {
          clear: none;
          display: inline;
          float: left;
          line-height: 1.375em;
          margin-left: .5em;
        }
      }
    }
  }
}