{#
#}

<div class="field-node--soundcloud-url">
<iframe width="300" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ element }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>