footer {
  @include span-columns(12);
  @include clearfix;
  background: $element-background-color;
  border-bottom: 7px solid $heading-color;
  margin-top: $general-spacing;
  text-align: center;
  z-index: 1;
}