/**
 * @file
 *
 * Styles for the footer region.
 */

footer {
  @include span-columns(12);
  @include inverse-box-shadow;

  background: $element-background-color;
  border-bottom: 7px solid $heading-color;
  clear: both;
  height: $footer-height;
  margin-top: -$footer-height;
  position: relative;
  text-align: center;
  z-index: 1;
}