/**
 * @file
 *
 * Photo slideshow styles.
 */

.view-photo-slideshow {
  background-color: $element-background-color;
  height: 277px;
  padding-top: 10px;
  width: 320px;

  .view-content {

    .views_slideshow_cycle_teaser_section {
      height: 215px;
    }

    .views_slideshow_cycle_slide {
      left: auto !important;
      position: static !important;
      top: auto !important;
    }

    img {
      @include box-shadow;
      display: block;
      margin: 0 auto;
      max-height: 215px;
      width: auto;
    }
  }

  .views-slideshow-controls-bottom {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    width: 300px;
  }

  .views_slideshow_slide_counter {
    text-align: center;
  }

  .views_slideshow_controls_text {

    .views_slideshow_controls_text_previous {
      float: left;
      padding-left: 4em;

      a {
        content: url(../images/back-arrow.png);
      }
    }

    .views_slideshow_controls_text_next {
      float: right;
      padding-right: 4em;

      a {
        content: url(../images/forward-arrow.png);
      }
    }

    .views_slideshow_controls_text_pause {
      display: none;
    }
  }

}