/**
 * @file
 *
 * Styles for front page sidebar region.
 */

.path-frontpage {

  // Slightly different classes for /welcome node and marker nodes,
  // because the content is pulled into the side bar differently.
  .sidebar {
    @include box-shadow;
    background: $element-background-color;
    text-align: center;

    // Styles for larger screens only.
    @include media($wide) {
      border-radius: 5px;
      overflow: scroll;

      // Down arrow on mobile
      i {
        display: none;
      }
    }

    .sidebar__content {
      padding: 1em;

      // Hide /welcome node title
      .node-title-box h2 {
        display: none;
      }

      h3 {
        margin: 0;
      }

      hr {
        width: 100%;
      }

      .sidebar__node-content__address {
        p {
          margin-top: 0;
        }
      }

      .field-node--body p,
      .sidebar__node-content__body {
        text-align: left;
      }

      img {
        @include box-shadow;
        display: block;
        // Maintain aspect ratio.
        height: auto;
        margin: 0 auto;
        max-width: 360px;
        width: 100%;

      }
    }
  }
}