/**
 * @file
 *
 * Styles for front page sidebar region.
 */

.path-frontpage {
  .sidebar {
    @include box-shadow;
    background: $element-background-color;
    text-align: center;

    i {
      @include media($wide) {
        display: none;
      }
    }
    .sidebar__node-content {
      padding: 1em;

      h3 {
        margin: 0;
      }

      hr {
        width: 100%;
      }

      .sidebar__node-content__address {
        p {
          margin-top: 0;
        }
      }

      .sidebar__node-content__body {
        text-align: left;
      }
    }
  }
}